{deps_dir, ["deps"]}.



{sub_dirs, ["rel"]}.

{deps,  [
        {covertool,            ".*", {git, "git@github.com:idubrov/covertool.git", {branch, "master"}}},
        {mira_bdb_port_driver, ".*", {git, "git@github.com:miranetworks/core_bdb_port_driver.git", {branch, "master"}}}
        ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}] }.
{cover_enabled, true}.
{plugins, [rebar_covertool]}.
{covertool_eunit, ".eunit/eunit.coverage.xml"}. % Output report file name
