[

    {kernel,
        [
        {dist_auto_connect, never},
        {error_logger, {file, "./log/kernel.log"}}
        ]
    },

    {sasl,
        [
        {errlog_type,              error},
        {error_logger_mf_dir,      "./log/sasl/"},
        {error_logger_mf_maxbytes, 10485760}, %10MB
        {error_logger_mf_maxfiles, 10},
        {utc_log,                  true},
        {sasl_error_logger,        {file, "./log/sasl/sasl_error.log"}}
        ]
    },

    {nq,
        [

        {base_dir, "./nq_data/"},
        {max_frag_size, 128},

        {ip_checker_cfg, [{"/", ["127.0.0.1/32", "127.0.0.2/32"]}]},

        {http_if_cfg,   [
                        {http, {127,0,0,1}, 50010}
                        %{https, {0,0,0,0}, 50011, "./priv/http_ssl/privkey.pem", "./priv/http_ssl/cacert.pem"}
                        ]}

        ]
    }
].
